body{
color: #FCFFE7;
}

.topnav {
    overflow: hidden;
    background-color:#2B3467;
    font-family:  Serif;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:#EB455F;
    color:#BAD7E9;
  }
  
  .topnav a.active {
    background-color:#2B3467;
    color: #EB455F;
  }